article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}


body {
	font-family: ff-meta-serif-web-pro-1, ff-meta-serif-web-pro-2, Georgia, sans-serif;
	background-color: rgb(241,233,221);
	margin: 0;

}

#wrap {
	width: 1020px;
	margin: 0 auto;
	font-size: 1.3em;
	-webkit-box-shadow: 1px 3px 3px rgba(78, 68, 60, 0.3);
	-moz-box-shadow: 1px 3px 3px rgba(78, 68, 60, 0.3);
	box-shadow: 1px 3px 3px rgba(78, 68, 60, 0.3);
	padding: 0px;
	background-color: #FFF;

	}

#header {
	background-color: rgb(0,84,130);
	margin: 0px;
	padding-top: 40px;
	padding-right: 20px;
	padding-bottom: 12px;
	padding-left: 20px;
	-webkit-box-shadow: 1px 3px 3px rgba(78, 68, 60, 0.3);
	-moz-box-shadow: 1px 3px 3px rgba(78, 68, 60, 0.3);
	box-shadow: 1px 3px 3px rgba(78, 68, 60, 0.3);

	}

#main {
	font-family:"Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 1.6;
	background-color: #FFF;
	padding-top: 40px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;

	}

#navbar {
	font-family:"Times New Roman", Times, serif;
	font-size:15px;
	line-height: 1.6;
	background-color: rgb(3,49,75);
	-webkit-box-shadow: 1px 3px 3px rgba(78, 68, 60, 0.3);
	-moz-box-shadow: 1px 3px 3px rgba(78, 68, 60, 0.3);
	box-shadow: 1px 3px 3px rgba(78, 68, 60, 0.3);
	}


#logo {
	float: right;
	width: 600px;
	height: 64px;
	color: #FFF;
	font-family:"Times New Roman", Times, serif;
	}

ul, li  {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	}


nav {
	text-align:center;
	text-decoration:none;
	color: rgb(255,255,255);
	background-color: rgb(0, 84, 130);
}

nav ul li {
	display:block;
	float: left;
	width: 16.666%;
	background-color: rgb(0, 120, 180);
	list-style-type:none;
	list-style:none;
	}
	
nav ul li a {
	display:block;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;

	color: rgb(255,255,255);
	border-color: rgb(0, 84, 130);
	border-top-style:solid;
	border-top-color: rgb(241,233,221);
	border-width: 2px;

	-webkit-box-shadow: 1px 3px 3px rgba(78, 68, 60, 0.3);
	-moz-box-shadow: 1px 3px 3px rgba(78, 68, 60, 0.3);
	box-shadow: 1px 3px 3px rgba(78, 68, 60, 0.3);
	-webkit-transition: background-color 0.2s ease-in-out;
	   -moz-transition: background-color 0.2s ease-in-out;
	     -o-transition: background-color 0.2s ease-in-out;
	        transition: background-color 0.2s ease-in-out;


	}
nav ul li a:hover,
nav ul li.active a {
	background-color: rgb(0, 84, 130);
	-webkit-transition: background-color 0.2s ease-in-out;
	   -moz-transition: background-color 0.2s ease-in-out;
	     -o-transition: background-color 0.2s ease-in-out;
	        transition: background-color 0.2s ease-in-out;
}

#navbar a:link,
#navbar a:visited {
    color: rgb(255,255,255);
    text-decoration: none;
}
#navbar a:hover {
    text-decoration: underline;
}

p { margin: 0; padding: 0; border: 0;}


#main article {
	font-family:"Times New Roman", Times, serif;
	position: relative;
	margin: 0.2em 0 2.8em 0;
	padding: 10px 0 1em 20%;
	border-bottom: 4px double rgba(78, 68, 60, 0.1);
	line-height: 130%;
	}
#main article:last-of-type {
	padding-bottom: 0;
	border-bottom: none;
	}
article aside {
	font-family:"Times New Roman", Times, serif;
	float: left;
	width: 20%;
	margin: 0.2em 0 0 -25%;
	padding: 0;
	color: rgba(78, 68, 60, 0.6);
	}
#main article aside a:link,
#main article aside a:visited {
	color: rgba(78, 68, 60, 0.6);
	}

#main article a:link,
#main article a:visited,
#main article ul li a {
    text-decoration: none;
        color: #000066;
	}
#main article a:hover,
#main article ul li a:hover {
    text-decoration: underline;
    color: #000066;
	}
#main article i {
	font-family:"Times New Roman", Times, serif;
	font-style: oblique;
	font-weight: 500;
}

.pubsection {
    font-size: 14px;
    font-weight: bold;
    color: rgb(3,49,75);
    margin-top: 2ex;
}
.pubsubsection {
    font-size: 16px;
    font-weight: bold;
    	text-transform:uppercase;
	    color: rgb(3,49,75);
	margin-top: 3ex;
}
.section {
    font-size: 18px;
    	text-transform:uppercase;
    font-weight: bold;
    color: rgb(3,49,75);
    margin-top: 1ex;
}
.subsection {
    font-size: 16px;
    font-weight: bold;
    	text-transform:uppercase;
	    color: rgb(3,49,75);
	margin-top: 5ex;
	margin-bottom: 3ex;
}
.style4 {color: #CC0033}